#progressBar {
    width: 50%;
    height: 10px;
    border: 1px solid #111;
    background-color: #EF5350;
}
#progressBar div {
    height: 100%;
    color: #0099ff;
    text-align: right;
    line-height: 10px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #0099ff;
}